.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0.25rem min(5%, 2rem);
  // position: sticky;
  // top: 0;
  // left: 0;
  // background: var(--white);
  // z-index: 10;
  .logo {
    width: 10vw;
    display: flex;
    justify-content: center;
  }

  @include mobile {
    background: var(--primary);
    .logo {
      width: auto;
      position: relative;
      top: 0.5em;
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}

.search-bar {
  width: min(41.75rem, 40vw);
  display: flex;
  position: relative;

  .search-bar__icon {
    position: absolute;
    left: 0;
    z-index: 1;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    color: var(--grey-dark);
    height: 0.85rem;
    img {
      height: 100%;
    }
  }
  .search-bar__input {
    position: relative;
    width: 100%;
    background-color: var(--grey);
    border: none;
    padding: var(--offset);
    padding-left: 2.5rem;
    border-radius: var(--border-radius-rounded);
    font-size: 1rem;
  }
}

.header-meta {
  display: flex;
  align-items: center;

  img {
    height: 3.25rem !important;
    width: 3.25rem !important;
    border-radius: var(--border-radius-rounded);
  }
}
