$button-border: 1px solid var(--blue);
$button-color: var(--primary);
$button-offset: 0.5em 0.75em;
$button-font: var(--font-secondary);
.button {
  padding: $button-offset;
  border: $button-border;
  border-radius: var(--border-radius);
  text-decoration: none;
  color: $button-color;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--white);
  cursor: pointer;
  font-family: $button-font;
  @include animation;

  &.is-large {
    font-size: 1.5rem;
  }

  &.is-small {
    font-size: 0.875rem;
  }

  &.is-normal {
    font-size: 1rem;
  }

  &.is-medium {
    font-size: 1.25rem;
  }

  &.is-fullwidth {
    width: 100%;
  }

  &.is-link {
    border: none;
  }

  &.is-outlined {
    background: transparent;
    border-color: var(--primary-invert);
    color: var(--primary-invert);
  }

  &.is-icon {
    padding: 0.75em;
    width: 2.5em;
    height: 2.5em;
    .icon {
      width: 1em;
      height: 1em;
      position: relative;
      @include center;
      svg {
        @include center;
      }
    }
  }

  &.is-rounded {
    border-radius: var(--border-radius-rounded);
  }
  &:hover,
  &:active {
    background: var(--grey);
    opacity: 0.9;
  }

  .icon {
    height: 1em;
    position: relative;
    & + .text {
      margin: 0 1.25em;
    }
    svg {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @each $color in $colors {
    &.is-#{$color} {
      background: var(--#{$color});
      color: var(--#{$color}-invert);
      border-color: var(--#{$color});

      &.is-light {
        background: var(--#{$color}-light);
        color: var(--#{$color});
        border-color: var(--#{$color}-light);
        &:hover,
        &:active,
        &.is-active {
          background: var(--#{$color});
          color: var(--#{$color}-invert);
          border-color: var(--#{$color});
        }
      }

      &:hover,
      &:active,
      &.is-active {
        background: var(--#{$color}-light);
        color: var(--#{$color});
        border-color: var(--#{$color}-light);
      }
    }
  }
}

.buttons {
  display: block;
  .button {
    & + .button {
      margin-left: 0.75em;
    }
  }

  &.is-mobile {
    display: flex;
  }
}
