$utility-range: 10;
$utility-seperator: (none, 0.25, 0.5, 0.75);
.has-shadow {
  box-shadow: var(--box-shadow);
}

.is-borderless {
  border: none !important;
}

.has-text-small {
  font-size: 0.75rem;
}

@for $size from 0 to $utility-range {
  @each $seperator in $utility-seperator {
    @each $property in $properties {
      @each $side in $sides {
        @each $unit in $units {
          @if $seperator == none {
            .has-#{$property}-#{$side}-#{$size}#{$unit} {
              #{$property}-#{$side}: #{$size}#{$unit} !important;
            }
            .has-#{$property}-#{$side}--#{$size}#{$unit} {
              #{$property}-#{$side}: -#{$size}#{$unit} !important;
            }
          } @else {
            .has-#{$property}-#{$side}-#{$size}\.#{$seperator* 100}#{$unit} {
              #{$property}-#{$side}: calc(#{$size}#{$unit} + #{$seperator}#{$unit}) !important;
            }
            .has-#{$property}-#{$side}--#{$size}\.#{$seperator* 100}#{$unit} {
              #{$property}-#{$side}: calc(-#{$size}#{$unit} - #{$seperator}#{$unit}) !important;
            }
          }
        }
      }
    }
  }
}
