$product-item-gap: 0.5rem;

.categories-navbar {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  margin-bottom: 2rem;
  .category {
    display: block;
    text-align: center;
    font-size: 0.875rem;
    padding: 0.25rem;
    color: var(--grey-dark);
    cursor: pointer;
    @include animation;
    &.is-active,
    &:hover {
      color: var(--primary);
    }

    .category__icon {
      margin-bottom: 0.25rem;
      height: 1.25rem;
    }
    .category__name {
      white-space: nowrap;
    }
  }

  @include mobile {
    margin: -0.75rem -1.5rem 1rem;
    background: var(--primary);
    padding: 0 1rem 1rem 1rem;

    .category {
      color: var(--white);
      .category__icon {
        display: none;
      }
      .category__name {
        font-size: 0.875rem;
        font-weight: 400;
        margin-right: 0.5rem;
      }
      &.is-active,
      &:hover {
        color: var(--secondary);
      }
    }
  }
}

.home-product-list-container {
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: var(--border-radius-large);
  padding: 1rem;
  @include mobile {
    box-shadow: none;
    padding: 0;
    margin-bottom: 4rem;
  }
}
.related-bar {
  margin: 2rem 0;
  overflow: auto;
  @include mobile {
    display: none;
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: -$product-item-gap;
}

.product-item {
  width: calc(25% - $product-item-gap * 2);
  padding: 1rem;
  margin: $product-item-gap;
  box-sizing: border-box;
  border-radius: var(--border-radius-large);

  &:hover {
    box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
  }

  @include touch {
    width: calc(50% - $product-item-gap * 2);
  }

  @include mobile {
    padding: 0.5rem;
  }

  .product__thumpnail {
    width: 100%;
  }

  .product__name {
    font-size: 1rem;
    letter-spacing: 2.75%;
  }

  .product__price-info {
    margin: 0.75rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product__price {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.25rem;
  }
  .product__tag {
    font-size: 0.75rem;
    padding: 0.25rem 0.625rem;
    border-radius: var(--border-radius);
    &.is-green {
      background: var(--green-light);
      color: var(--green);
    }
  }

  .product__description {
    margin: 0.5rem 0;
    font-size: 0.875rem;
    color: var(--grey-dark);
  }

  .product__meta {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .button {
    font-size: 0.875rem;
  }
}

.rating-star {
  display: flex;
  justify-content: flex-start;
  .stars {
    display: flex;
    align-items: center;
    transform: translateY(-0.15rem);
    .full-star,
    .half-star {
      width: 0.9rem;
      height: 0.9rem;
      background-repeat: no-repeat !important;
    }
    .full-star {
      background: url("/images/star/full-star.svg");
    }

    .half-star {
      transform: translate3d(0rem, 0.15rem, 0);

      background: url("/images/star/half-star.svg");
    }
  }

  .point {
    margin-left: 0.5rem;
    font-size: 0.875rem;
  }
}

.filter-sidebar {
  max-width: 17rem;

  @include mobile {
    display: none;
  }
}

.filter-sidebar-mobile {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  width: 100%;
  z-index: 10;
  left: 0;
  .float-action-button {
    border: none;
    background: var(--white);
  }
  .department-button {
    background: var(--green-light);
    color: var(--green);
    border: none;
  }
  @include mobile {
    display: flex;
  }
}

.filter-by-product {
  margin: 2.875rem 0 2rem 0;
}

.shop-by-product {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  z-index: 1000;
  font-family: var(--font-secondary);
  display: none;

  &.is-active {
    display: block;
  }

  .shop-by-product__content {
    width: min(70rem, 90vw);
    background: var(--white);
    margin: auto;
    margin-bottom: 0;
    z-index: 1000;
    border-radius: 24px 24px 0px 0px;
    padding: 1.5rem 1rem;
    max-height: 90vh;
    overflow: auto;
    .shop-by-product__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        font-size: 2.25rem;
        font-weight: bold;
      }
    }
  }

  .product-menu {
    .product-menu__header {
      color: var(--primary);
      background: var(--primary-light);
      border-radius: var(--border-radius-rounded);
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.25rem 1rem;
      margin: 2rem 0 1rem;
      font-weight: 600;
      img {
        width: 2rem;
      }
      .product-menu__name {
        font-size: 1.25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 11rem;
      }
    }
    .product-menu__list {
      font-family: var(--font-additional);
      color: var(--grey-dark);
      font-weight: 400;
      font-size: 1rem;

      li {
        padding: 0.75rem 1.5rem;
      }
    }
  }

  @include mobile {
    .shop-by-product__header {
      display: block !important ;
    }
  }
}

.home__aside-container {
  @include mobile {
    padding: 0;
  }
}
