$product-item-gap: 0.5rem;

.categories-navbar {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  margin-bottom: 2rem;
  .category {
    display: block;
    text-align: center;
    font-size: 0.875rem;
    padding: 0.25rem;
    color: var(--grey-dark);
    cursor: pointer;
    @include animation;
    &.is-active,
    &:hover {
      color: var(--primary);
    }

    .category__icon {
      margin-bottom: 0.25rem;
      height: 1.25rem;
    }
    .category__name {
      white-space: nowrap;
    }
  }
}

.home-product-list-container {
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: var(--border-radius-large);
  padding: 1rem;
}
.related-bar {
  margin: 2rem 0;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: -$product-item-gap;
}

.product-item {
  width: calc(25% - $product-item-gap * 2);
  padding: 1rem;
  margin: $product-item-gap;
  box-sizing: border-box;
  border-radius: var(--border-radius-large);

  &:hover {
    box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
  }
  .product__thumpnail {
    width: 100%;
  }

  .product__name {
    font-size: 1rem;
    letter-spacing: 2.75%;
  }

  .product__price-info {
    margin: 0.75rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product__price {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.25rem;
  }
  .product__tag {
    font-size: 0.75rem;
    padding: 0.25rem 0.625rem;
    border-radius: var(--border-radius);
    &.is-green {
      background: var(--green-light);
      color: var(--green);
    }
  }

  .product__description {
    margin: 0.5rem 0;
    font-size: 0.875rem;
    color: var(--grey-dark);
  }

  .product__meta {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .button {
    font-size: 0.875rem;
  }
}

.rating-star {
  display: flex;
  justify-content: start;
  .stars {
    display: flex;
    align-items: center;
    transform: translateY(-0.15rem);
    .full-star,
    .half-star {
      width: 0.9rem;
      height: 0.9rem;
      background-repeat: no-repeat !important;
    }
    .full-star {
      background: url("/images/star/full-star.svg");
    }

    .half-star {
      transform: translate3d(0rem, 0.15rem, 0);

      background: url("/images/star/half-star.svg");
    }
  }

  .point {
    margin-left: 0.5rem;
    font-size: 0.875rem;
  }
}

.filter-sidebar {
  max-width: 17rem;
}

.filter-by-product {
  margin: 2.875rem 0 2rem 0;
}
