:root {
  --primary: #2264d1;
  --primary-light: #ecf2ff;
  --text: #19191d;
  --black: #000000;
  --green: #37833b;
  --green-light: #ecf7ed;

  --red: #e71111;
  --blue: #9dc2ff;
  --white: white;
  --grey: #ededf0;
  --grey-dark: #787885;
  --grey-light: #e5e5ea;
  --border-color: #d1d1d6;
  --border-radius: 4px;
  --border-radius-large: 12px;
  --border-radius-rounded: 9999px;
  --background-color: #f2f2f7;
  --primary-invert: var(--black);
  --black-invert: var(--white);
  --green-invert: var(--white);

  --red-invert: var(--white);
  --white-invert: var(--white);
  --grey-invert: var(--white);
  --grey-light-invert: var(--white);
  --box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
  --overlay-background: rgba(0, 0, 0, 0.5);
  --offset: 0.75em 1.5em;
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Quicksand", sans-serif;
  --font-additional: "Roboto", sans-serif;
}

$colors: (primary, black, green, red, white, grey, grey-light);
$colors-des: ((var(--primary)), var(--black));
$properties: (padding, margin);
$sides: (none, top, right, bottom, left);
$units: (px, rem, em, \%);
